<!DOCTYPE html>
<html>
  <head>
    <title>Turbochat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container bg-faded" style="height: 100vh">
      <div class="row h-100">
        <div class="col">
          <div class="mx-auto w-50 p-4 bg-white h-100" style="min-width: 500px">
            <h3>Turbochat</h3>
            <hr />

            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
